WpfApp4/Connected Services/ServiceReference2/Lisans.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LisansDogrulama">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="talep" type="tns:LisansTalep" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LisansTalep">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarih" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="HDD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LisansDogrulamaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LisansDogrulamaResult" type="tns:LisansCevap" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LisansCevap">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DogrulamaKodu" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HDD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarih" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LisansDogrulamaSoapIn">
    <wsdl:part name="parameters" element="tns:LisansDogrulama" />
  </wsdl:message>
  <wsdl:message name="LisansDogrulamaSoapOut">
    <wsdl:part name="parameters" element="tns:LisansDogrulamaResponse" />
  </wsdl:message>
  <wsdl:portType name="LisansSoap">
    <wsdl:operation name="LisansDogrulama">
      <wsdl:input message="tns:LisansDogrulamaSoapIn" />
      <wsdl:output message="tns:LisansDogrulamaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LisansSoap" type="tns:LisansSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LisansDogrulama">
      <soap:operation soapAction="http://tempuri.org/LisansDogrulama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LisansSoap12" type="tns:LisansSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LisansDogrulama">
      <soap12:operation soapAction="http://tempuri.org/LisansDogrulama" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Lisans">
    <wsdl:port name="LisansSoap" binding="tns:LisansSoap">
      <soap:address location="http://servis.saferecharge.xyz/Lisans.asmx" />
    </wsdl:port>
    <wsdl:port name="LisansSoap12" binding="tns:LisansSoap12">
      <soap12:address location="http://servis.saferecharge.xyz/Lisans.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>